@font-face {
    font-family: "nevis";
    src: url("nevis.ttf")
}

@font-face {
    font-family: "Back to Black Demo";
    src: url("Back to Black Demo.ttf")
}

html {
    margin: 10;
    padding: 0;
    overflow-x: hidden;
}

body {
    @extend html;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

$heading-font: nevis, sans-serif;
$body-font: Open Sans, sans-serif;
$fancy-font: Back to Black Demo, cursive;
$basic-padding: 5% 0%;

.sectOrange {
    padding: $basic-padding;
    background-color: orange;
}

.sectWhite {
    padding: $basic-padding;
    background-color: white;
}

.textheading {
    padding-left: 70px;
    font-size: 30px;
    line-height: 1em;
    font-family: $heading-font;
}

.textbody {
    padding-left: 70px;
    line-height: 1.5em;
    font-family: $body-font;
    letter-spacing: 1px;
    width: 60%;
    
}

.title {
    font-size: 30px;
    font-family: $heading-font;
    text-align: left;
    padding-left: 70px;
}

.whitetitle {
    @extend .title;
    background-color: white;
}

.orangetitle {
    @extend .title;
    background-color: orange;
}

.projectinfo {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 2% 4%;
    text-align: center;
    font-family: monospace;
}

.projectinfo:hover {
    position: relative;
    top: -10px;
}

.tableheadings {
    padding-top: 10px;
    font-family: monospace;
    font-size: 25px;
}

.footertext {
    font-size: 14px;
    color: black;
    font-family: $body-font;
    letter-spacing: .08em;
    padding-right: 20px;
    text-align: right;
}

.landingpage {
    width: 100%;
    height: 751px;
    background-color: white;
}

.downarrow {
    justify-content: center; 
    display: flex; 
}

.name {
    padding-top: 150px;
    padding-bottom: 70px;
    font-size: 200px;
    font-family: $fancy-font;
    text-align: center;
    background-color: white;
    color: orange;
}

.intro {
    padding-top: 100px;
    color: black;
    text-align: center;
    z-index: 1;
    font-family: $heading-font;
    font-size: 50px;
    -webkit-animation: fadein 2s;
    -moz-animation: color-change 2s infinite ease 1s;
    -oz-animation: color-change 2s infinite ease 1s;
}

.animatename {
    color: white;
    -webkit-animation: color-change 2s infinite ease 1.5s, fadein 0.2s ease 1.5s;
    -moz-animation: color-change 2s infinite ease 1s fadein 0.2s ease 1.5s;
    -oz-animation: color-change 2s infinite ease 1s fadein 0.2s ease 1.5s;
}

.landingicons {
    padding-top: 60px;
    width: 100%;
    height: 10%;
    text-align: center;
}

.title {
    content: "";
    display: block;
    height: 5px;
    width: 60px;
    bottom: 20px;
    margin-top: 3%;
    margin-bottom: 13%;
}

.whitetitle {
    @extend .title;
    background-color: orange;
}

.orangetitle {
    @extend .title;
    background-color: white;
}

.whitetitle::after {
    background-color: white;
    @extend .whitetitle;
    width: 5px;
}

.orangetitle::after {
    @extend .orangetitle;
    width: 5px;
    background-color: orange;
}

.formatpicture {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 130px;
    height: 150px;
}

#arrow {
    height: 3%;
    width: 3%;
    animation: jump 2s infinite ease 1.5s, fadein 0.2s ease 1.5s;
}

@keyframes jump {
    50% {
        -webkit-transform: translate(0px, 50px);
        transform: translate(0px, 7px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes color-change {
    0% {
        color: #fffc00;
        color: -webkit-linear-gradient(to left, #ffffff, #FF5F6D);
        color: linear-gradient(to left, #ffffff, #FF5F6D);
    }
    50% {
        color: #FF5F6D;
        color: -webkit-linear-gradient(to left, #FF5F6D, #FFC371);
        color: linear-gradient(to left, #FF5F6D, #FFC371);
    }
    100% {
        color: #fffc00;
        color: -webkit-linear-gradient(to left, #fffc00, #ffffff);
        color: linear-gradient(to left, #fffc00, #ffffff);
    }
}

@media only screen and (max-width: 840px) {
    .table {
        display: flex;
        justify-content: center;
    }
    .textheading, textbody {
        text-align: left;
    }
    
    .name {
        font-size: 80px;
        padding: 0;
    }
    
}

@media screen and (max-width: 654px) {
    .name {
        font-size: 60px;
    }
    
    .landingpage {
        height: 500px;
    }
    
    #arrow {
        width: 10%;
        height: 10%;
    }
}