html, body {
    height:100%;
    width: 100%;
    
}

{
    /** take away margin top**/
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 20px;
     /** put margin bottom **/
}

nav {
    position:fixed;
    z-index: 99;
    /** can only use this when you use the position fixed**/
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.5); /** red green blue, opacity**/
    text-align: center;
    font-family:"Dosis", sans-serif;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 60px;
}

nav a:hover{
    background-color: darkmagenta;
}

.sect {
    height:100%;
    background-size:cover;
    background-repeat: none;
    background-attachment: fixed;
     /** attached all images to top of page, don't move, but as div comes up as you're scrolling, reveals the image**/
}

.subsection {
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    height: 50%;
    background-color: whitesmoke;
    border-color: transparent;
}

.sectOne {
    background-image: url("../space.jpg")
}

.sectTwo {
    background-image: url("../IMG_5786.jpg")
    
}

.sectThree {
    background-image: url("../Desktop/BXj4hT.jpg")
}

.aboutme {
    width: 50%;
    height: 100%;
    background-color: lightblue;
}










